* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
}

/* common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* Tạo dấu 3 chấm */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* 2 dòng rồi 3 chấm */
.line-clamp.line-2 {
  --line-clamp: 2;
}
/* Đoạn dài không có khoảng trắng --> tràn dòng */
.break-all {
  word-break: break-all;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  border-radius: 24.5px;
  background-color: #171100;
}

.btn:hover {
  opacity: 0.9;
}

/* header */
.header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* hero */
.hero {
  padding: 56px 0 65px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

/* left hero */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero.media-block img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  position: absolute;
  width: 270px;
  bottom: 48px;
  right: 0;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px #0000000d;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
}

.hero-summary .tittle {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* right hero */
.hero .content-block {
  width: 52%;
  padding-left: 120px;
}

.content-block .heading {
  color: #171100;
  font-family: Sen;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -2%;
  margin-top: 64px;
}

.content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 22px;
}

.content-block .cta-group {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.cta-group .hero-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: #ffb900;
}

.hero .watch-video {
  border: none;
  background: transparent;
  margin-left: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .stats strong {
  color: #171100;
  font-family: Sen;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 14px;
}

/* popular-top */
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-lv2 {
  color: #171100;
  font-family: Sen;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 48px;
  letter-spacing: -0.76px;
}

.popular-top .desc {
  max-width: 458px;
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .controls-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffb900;
  border: 1px solid #ffb900;
}

.popular-top .controls-btn:hover {
  background: #ffb900;
  color: #fff;
  cursor: pointer;
}

/* popular-bottom */
.popular .course-list {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
  margin-top: 55px;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}

.popular .course-item:hover {
  background: #ffffff;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 278px;
  object-fit: cover;
}

.course-item .info {
  margin: 16px 22px 22px;
}

.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-item .head .tittle a {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.course-item .head .rating {
  display: flex;
  color: #fea31b;
  font-size: 1.6rem;
  line-height: 1.75;
}

.course-item .desc {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 26px;
}

.course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}
.course-item .btn {
  border: none;
  width: 118px;
  height: 50px;
}

.course-item .btn:hover {
  background: #ffb900;
  cursor: pointer;
  opacity: 0.9;
}

/* feedback */
.feedback {
  background: #2e2100;
  margin-top: 135px;
  padding: 96px 0;
}

.feedback .feedback-list {
  display: flex;
  overflow: hidden;
}
.feedback .feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: all ease 0.5s;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .member-name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  letter-spacing: 0%;
}

.feedback-item .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback-item .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  cursor: default;
  background: #ffb900;
}

.feedback-item .content {
  align-items: center;
  width: 66%;
}

.feedback-item blockquote {
  color: #fff;
  padding-left: 30px;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1.54;
}

/* features */
.features {
  padding: 65px 0;
  margin-top: 135px;
  background-color: transparent;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.features .images img {
  width: 270px;
  height: 405px;
  object-fit: cover;
}

.features .content {
  width: 40.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 16px;
}

.features .content .cta-btn {
  background: #ffb900;
  width: 137px;
  height: 50px;
  margin-top: 32px;
}

.features2 {
  padding: 65px 0;
  margin-top: 135px;
  background-color: transparent;
}

.features2 .body {
  display: flex;
  justify-content: space-between;
}

.features2 .content{
  width: 48.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features2 .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-top: 16px;
}

.features2 .content .cta-btn {
  background: #ffb900;
  width: 137px;
  height: 50px;
  margin-top: 32px;
}
